<div style="box-sizing: border-box; width: 908px; height: 720px; border: 1px solid #000000;">

    <!-- header -->
    <div style="margin-top: 20px;">
        <table style="width: 100%; border: none">
            <tr>
                <td>
                    <div style="width: 100%;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    text-indent: 17px;
                    color: #16365C;
                    ">[US Asian Hrs] Reset Password
                    </div>
                </td>
                <td>
                    <div style="width: 100%;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 27px;
                        align-items: center;
                        text-align: center;
                        text-indent: 17px;
                        color: #16365C;
                        justify-content: center">
                        <div>US Market Trading</div>
                        <div>(Asian Hrs)</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr />

    <!-- content -->
    <div style="width: 853px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-indent: 17px;
    margin-left: 10px;
    color: #000000;
    ">
        <div>Hi account_name,</div>
        <br />
        <div>
            <div>Forgot your password ?</div>
            <div>We received a request to reset the password for your account</div>
        </div>
        <br />
        <div>To reset your password, click below:</div>
        <br />
        <div>
            <b><i><a href="email_reset_password_url" style="margin-top: 10px; width: 156px;
         text-decoration: underline; font-size: 20px" target="_blank">Reset
                Password</a></i></b>
        </div>
    </div>
    <br />
    <div style="
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-indent: 17px;
        color: #000000;
        margin-left: 10px">
        <div>Or copy and paste the URL into your brower:</div>
        <div>
            <a href="email_reset_password_url" target="_blank"
               style="color: blue; text-decoration: underline; cursor: pointer;">
                email_reset_password_url
            </a>
        </div>
        <br />
        <br />
        <div><i>If you did not make this request then please ignore this email.</i></div>
        <br />
        <br />
        <div><strong>This password reset link is only valid for the next 24 hours</strong></div>
        <br />
        <br />
        <div>For any further information, you can email/contact support with your questions.</div>

    </div>
    <br />
    <div style="margin-left: 25px;"><strong>Phillip SG Contact (English Speaking):</strong> &nbsp; +65 6212-1810</div>
    <br />
    <div style="margin-left: 25px;"><strong>Phillip SG Email:</strong> &nbsp; cddesk@phillip.com.sg</div>
    <br />
    <br />
    <div style="margin-left: 25px;">Thank you</div>
    <br />
    <div style="margin-left: 25px;">US Market Trading (Asian Hrs) Team</div>

</div>
